*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(54, 54, 54, 0.75),rgba(26, 26, 26, 0.75)),url(./images/garden.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0.2em 0.2em 0 black;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 20px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    margin: 30px 0;
}
.center form{
    padding: 0 40px;
    box-sizing:  border-box;
}
form .txtfield{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txtfield span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txtfield input:focus ~ label,
.txtfield input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txtfield input:focus ~ span::before,
.txtfield input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0.2em 0.2em 0 black;
}
.aboutcont{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0.2em 0.2em 0 black;
}
.logo1{
    width: 300px;
    position: left;
    cursor: pointer;
}
.a {
    display: inline-block;
    width:50vw;
    text-align: justify;
    font-size: 20;
}
.test{
    background : #fff;
    width: 90%;
    max-width: 600px;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.test h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px sold #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width :150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display:block ;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
.list{
    background : #fff;
    width: 90%;
    max-width: 600px;
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.list h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30;
}
.plants{
    padding: 20px 0;
}
.plants h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.outer-footer{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}